@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn-primary {
        @apply bg-black rounded-lg text-white px-3 py-2 hover:bg-black/80;
    }

    .input {
        @apply rounded-lg w-full text-sm h-10 border-zinc-300;
    }

    .active-sidebar-link {
        @apply text-white bg-zinc-800;
    }

    .default-sidebar-link {
        @apply text-zinc-400 hover:text-white hover:bg-zinc-800;
    }
}

@layer utilities {
    @keyframes flashIn {
        from {
            opacity: 0;
            transform: scale(0.95);
        }
        to {
            opacity: 1;
            transform: scale(1);
        }
    }
    @keyframes flashOut {
        from {
            opacity: 1;
            transform: scale(1);
        }
        to {
            opacity: 0;
            transform: scale(0.95);
        }
    }
    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
    .flashOut {
        animation: flashOut 200ms ease-in-out forwards;
    }

    .flashIn {
        animation: flashIn 200ms ease-in-out forwards;
    }

    .fadeIn {
        animation: fadeIn 300ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }

    .fadeOut {
        animation: fadeOut 300ms cubic-bezier(0.4, 0, 0.2, 1) forwards;
    }
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
